/* =========================================================== */
/* TEXT STYLING */
.hastext, .text {
  font-size: 21px;
  line-height: 24px;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif; }
  .hastext.title, .text.title {
    font-weight: bold; }
  .hastext .inner, .text .inner {
    text-align: center;
    margin: 25px 5px;
    margin-top: 18px;
    color: #fff; }

/* =========================================================== */
/* FALLBACK */
.fallback {
  position: absolute;
  top: 0;
  width: 100%; }
  .fallback .inner {
    text-align: center;
    width: 1190px;
    z-index: 100;
    color: #eee;
    margin: 170px auto;
    font: 21px/28px "sf_cartoonist_handregular", sans-serif; }
    .fallback .inner h1, .fallback .inner p {
      width: 570px;
      margin: 0 auto 34px; }
    .fallback .inner a {
      padding: 3px 7px;
      color: #fff;
      cursor: pointer !important;
      pointer-events: auto; }

/* =========================================================== */
/* COUNTER & TEXT IN SCENE 17 */
.counter {
  padding-top: 20px;
  width: 240px;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px; }

body {
  /* the page itself */
  background-color: #a6d6ec;
  background-repeat: no-repeat;
  background-position: center 80px;
  padding: 0;
  margin: 0;
  min-width: 1190px; }

/* ======================================== */
table {
  font-size: 0;
  line-height: 0;
  border: 0; }
  table img {
    position: inline-block; }

#stage {
  position: absolute;
  background-color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }
  #stage .quiz {
    text-align: left;
    padding: 0;
    margin: 0; }
    #stage .quiz.answer {
      padding-left: 55px;
      background-position: top left;
      background-repeat: no-repeat no-repeat; }
    #stage .quiz.answer0 {
      background-image: url(/images/quiz/a.png); }
    #stage .quiz.answer1 {
      background-image: url(/images/quiz/b.png); }
    #stage .quiz.answer2 {
      background-image: url(/images/quiz/c.png); }
    #stage .quiz .inner {
      text-align: left;
      font-family: "sf_cartoonist_handregular", serif !important;
      font-size: 22px;
      line-height: 27px;
      color: #2d1c13;
      padding: 0;
      margin: 0; }
    #stage .quiz.title .inner {
      font-size: 30px;
      line-height: 40px;
      font-family: "sf_cartoonist_handbold";
      font-weight: bold; }
    #stage .quiz.question .inner {
      font-size: 25px;
      line-height: 32px;
      font-weight: bold; }
    #stage .quiz.explanation {
      width: 405px; }
      #stage .quiz.explanation .inner {
        width: 355px;
        overflow: hidden;
        text-align: center;
        margin-top: 150px;
        margin-left: 45px; }
    #stage .quiz.results {
      font-size: 22px;
      line-height: 26px; }
